
.wrapper{
	width:100%;	
}

.mainPanel{
	float:left;
	width:100%;
	
}
.treeMenu{
text-align:left;
	float:left;
	height:100%;
	width:20%;
	background:#fff;
	
}
.content{
	float:right;
	height:100%;
	width:80%;
	background:RED;
}